
<!DOCTYPE html>
{% load static %}
<html lang="en">
   

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vesperr Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static  'assets/img/lg.png' %}" rel="icon">
  <!-- Google Fonts -->
  <link href=" {% static  'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i'%} rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {% static  ' assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href=" {% static  'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href=" {% static  'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href=" {% static  'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href=" {% static  'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href=" {% static  'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href=" {% static  'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo' %}">
        <h1><a href=" {% static  'index' %}">Med-Sync</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href=" {% static  'index' %}"><img src="assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto active" href="{% url 'about_page.html' %}">About</a></li>

          
          <li><a class="nav-link scrollto" href=" {% url  'newsevents.html' %}">News & events</a></li>
          <li><a class="nav-link scrollto " href=" {% url  'remedies.html' %}">Remedies</a></li>
          <li><a class="nav-link scrollto" href=" {% url  'contactus.html' %}">Contact</a></li>
          <li><a class="getstarted scrollto" href=" {% url  'login.html' %}">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->
    <br><br>
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg" data-aos="fade-up" data-aos-delay="150">
            <p style="text-align: justify;">
              &nbsp &nbsp &nbsp &nbsp We are a team of passionate computer engineering students from Pune Vidyarthi Griha College of Engineering in Pune, India. Our team has come together to develop a healthcare app that we believe will make a positive impact in people's lives. Through our shared vision and dedication, we have created a user-friendly platform that provides access to healthcare resources and services. Our goal is to revolutionize the healthcare industry by bridging the gap between patients and healthcare providers. We are excited to bring our skills and knowledge to the table to make a difference in the world.
            </p>
            
          </div>
          
        </div>
        

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Medsync</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src=" {% static 'assets/img/team/t1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=" "><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=" https://www.linkedin.com/in/jagruti-patil-b27488216/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Jagruti Patil</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src=" {% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=" "><i class="bi bi-twitter"></i></a>
                  <a href=" "><i class="bi bi-facebook"></i></a>
                  <a href=" "><i class="bi bi-instagram"></i></a>
                  <a href=" "><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Akanksha Lokhande</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src=" {% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=" "><i class="bi bi-twitter"></i></a>
                  <a href=" "><i class="bi bi-facebook"></i></a>
                  <a href=" "><i class="bi bi-instagram"></i></a>
                  <a href=" "><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Akansh Palate</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src=" {% static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=" "><i class="bi bi-twitter"></i></a>
                  <a href=" "><i class="bi bi-facebook"></i></a>
                  <a href=" "><i class="bi bi-instagram"></i></a>
                  <a href=" "><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Samrudhi Dhon</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
    <div class="section-title" data-aos="fade-up">
      <h2>Mission and vision</h2>
    </div>
    <section id="about" class="about">
      <div class="container">
    <div class="row content ">
      <ul  >
        <li ><i class="ri-check-double-line"></i> To improve access to quality healthcare services for people all over the world through innovative and affordable technology solutions.</li>
        <li><i class="ri-check-double-line"></i> To create a healthcare application that is user-friendly and accessible to everyone, regardless of their background or level of technological proficiency.</li>
        <li><i class="ri-check-double-line"></i> To collaborate with healthcare professionals, policymakers, and other stakeholders to create a healthcare ecosystem that is more efficient, effective, and patient-centered.</li>
      </ul>
    </div>
  </div>
</section>

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Features</h2>
          <p>Medsync app allows users to easily manage and track their medical information in one place</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="bi-calendar-plus" style="color: #ffbb2c;"></i>
              <h3><a href=" ">Virtual appointments</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi-thermometer-low" style="color: #5578ff;"></i>
              <h3><a href=" ">Symptom checker</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi-capsule-pill" style="color: #e80368;"></i>
              <h3><a href=" ">Medication management</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi-person-heart" style="color: #e361ff;"></i>
              <h3><a href=" ">Wellness programs</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi-heart-pulse-fill" style="color: #47aeff;"></i>
              <h3><a href=" ">Electronic health records</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi-universal-access" style="color: #ffa76e;"></i>
              <h3><a href=" ">Virtual physical therapy</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi-chat" style="color: #11dbcf;"></i>
              <h3><a href=" ">Chatbot support</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi-bell" style="color: #4233ff;"></i>
              <h3><a href=" ">Preventive care reminders</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi-smartwatch" style="color: #b2904f;"></i>
              <h3><a href=" ">Wearable device integration</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi-heart-pulse" style="color: #b20969;"></i>
              <h3><a href=" ">AI-based diagnosis</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="  bi-card-checklist" style="color: #ff5828;"></i>
              <h3><a href=" ">treatment recommendations</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-hand-index" style="color: #29cc61;"></i>
              <h3><a href=" ">treatment recommendations</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

  

    
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Our team of computer engineering students from Pune Vidyarthi Griha College of Engineering is dedicated to developing MedSync app as part of our efforts to apply our knowledge and skills to create a solution that can benefit society. We are committed to delivering a user-friendly and secure platform that can help people access healthcare services more efficiently and effectively.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

       

           

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Med-Sync</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            Designed by <a href=" https://www.linkedin.com/in/jagruti-patil-b27488216/">JagStudio</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href=" {% url  'home' %}" class="scrollto">Home</a>
            <a href=" {% url 'about_page.html' %}"class="scrollto">About</a>
            <a href="  {% url 'privacy_policy.html' %}">Privacy Policy</a>
            <a href="  {% url 'termsofuse.html' %}">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href=" {% static  '#' %}" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>