
<!DOCTYPE html>
{% load static %}
<html lang="en">
   

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vesperr Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static  'assets/img/lg.png' %}" rel="icon">
  <!-- Google Fonts -->
  <link href=" {% static  'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i'%}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {% static  ' assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href=" {% static  'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href=" {% static  'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href=" {% static  'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href=" {% static  'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href=" {% static  'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href=" {% static  'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    img {
      border-radius: 10%;
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo' %}">
        <h1><a href=" {% static  'index' %}">Med-Sync</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href=" {% static  'index' %}"><img src="assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'about_page.html' %}">About</a></li>

          
          <li><a class="nav-link scrollto active" href=" {% url  'newsevents.html' %}">News & events</a></li>
          <li><a class="nav-link scrollto " href=" {% url  'remedies.html' %}">Remedies</a></li>
          <li><a class="nav-link scrollto" href=" {% url  'contactus.html' %}">Contact</a></li>
          <li><a class="getstarted scrollto" href=" {% url  'login.html' %}">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">News</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Healthline News reports on emerging research, new treatments, diet, exercise, and trending topics in health and wellness. All articles are written by our network of editors and contributors. Everything we publish is fact checked by our panel of experts.</h2>
          
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src=" https://th.bing.com/th/id/R.b368d92c49f6784a1c5e0c3b206d5337?rik=7ph0knSTZh0wHw&riu=http%3a%2f%2fwww.thesolutionfirm.com%2fnews_files%2fNews+Page+Banner.jpg&ehk=Isdcto0cneUCe%2bdA6XQ8M4mRXeS9Ctw5kS9MlKDLg7s%3d&risl=&pid=ImgRaw&r=0" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>
  <!-- End Hero -->

  <!-- #main -->
  <main id="main">

    
    <div class="grid-container-jk">
      <div class="section-jk">
        <section id="pricing" class="pricing">
          <div class="container">

            <div class="section-title">
              <h2>News</h2>
            </div>

            <div class="column">

              <div >
                <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
                  <h3>16 May 2023  New Delhi</h3>
                  <h4>Scale-up efforts to prevent, detect and control hypertension: WHO</h4>
                  <ul>
                    <img src="https://th.bing.com/th/id/OIP.aEuy-0zSdISz5yjpV7GfVwHaEK?pid=ImgDet&rs=1" width="300" height="300" class="img-fluid" border-radius="50%"></img>
                    <br><br>
                    <li>Hypertension is the single most important leading cause of cardiovascular disease mortality globally and in the WHO South-East Asia Region. With almost half of the people with hypertension in the Region unaware of their condition there is urgent need to scale up hypertension services, to prevent, detect and control hypertension.</li>
                   
                  </ul>
                  <div class="btn-wrap">
                    <a href=" https://www.who.int/southeastasia/news/detail/16-05-2023-scale-up-efforts-to-prevent-detect-and-control-hypertension-who" class="btn-buy">Read More</a>
                  </div>
                </div>
              </div>
              <div >
                <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
                  <h3>7 April 2023, 7 April 2023</h3>
                  <h4>Heroes of Public Health awards</h4>
                  <ul>
                    <img src="https://www.who.int/images/default-source/searo---images/pattarat-hongtong.jpg?sfvrsn=5c0dade4_3" width="300" height="300" class="img-fluid" border-radius="50%"></img>
                    <br><br>
             
                    <li>WHO conferred ‘Heroes of Public Health’ awards to Dr G Nageswara Rao from India, Dr. Suwit Wibulpolprasert from Thailand, and Dr Virna Maria Gusmao dos Reis Martins-Sam from Timor-Leste on the occasion of the World Health Day.

                      The awards were given by Regional Director Dr Poonam Khetrapal Singh at an event in New Delhi.
                      
                      Dr G Nageswara Rao, founder-Chair of L V Prasad Eye Institute (LVPEI), was awarded for the tireless and generous efforts of the LVPEI which has positively impacted lives of more than 30.64 million people.</li>
                  </ul>
                  <div class="btn-wrap">
                    <a href="https://www.who.int/southeastasia/news/detail/07-04-2023-heroes-of-public-health-awards" class="btn-buy">Read More</a>
                  </div>
                </div>
              </div>
              <div >
                <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
                  <h3>29 January 2023, New Delhi</h3>
                  <h4>Urgently address gaps in leprosy services and accelerate efforts towards zero leprosy infection and disease: WHO</h4>
                  <ul>
                    <img src="https://th.bing.com/th/id/OIP.jbAGu3ys7DHjvkxNloowDgHaDZ?pid=ImgDet&rs=1" width="300" height="300" class="img-fluid" border-radius="50%"></img>
                    <br><br>
                    <li>The World Health Organization today called on countries in the South-East Asia Region and globally to urgently address gaps in leprosy services disrupted by the COVID-19 pandemic and to accelerate efforts towards zero leprosy infection and disease, zero leprosy disability, and zero leprosy stigma and discrimination -the vision of the WHO Global Leprosy Strategy 2021-2030. </li>
                  </ul>
                  <div class="btn-wrap">
                    <a href=" https://www.who.int/southeastasia/news/detail/29-01-2023-urgently-address-gaps-in-leprosy-services-and-accelerate-efforts-towards-zero-leprosy-infection-and-disease-WHO" class="btn-buy">Read More</a>
                  </div>
                </div>
              </div>
              <div >
                <div class="box recommended" data-aos="zoom-in-left" data-aos-delay="200">
                  <h3>12 May 2023</h3>
                  <h4>Accelerate Region-wide improvements in the nursing and midwifery workforce</h4>
                  <ul>
                    <img src="https://th.bing.com/th/id/OIP.hPd_3dEKKcfuP9LZKhbIOwHaEJ?pid=ImgDet&rs=1" width="300" height="300" class="img-fluid" border-radius="50%"></img>
                    <br><br>
                    <li>by Dr Poonam Khetrapal Singh, WHO Regional Director for South-East Asia

                      To mark this year’s International Nurses Day (12 May) and International Day of the Midwife (5 May), WHO is urging countries of the South-East Asia Region to accelerate improvements in the density, skill-mix and distribution of the nursing and midwifery workforce, building on the strong progress made under the Region’s Decade for Strengthening Human Resources for Health (HRH) 2015–2024.</li>
                  </ul>
                  <div class="btn-wrap">
                    <a href=" {% static  '#' %}" class="btn-buy">Read More</a>
                  </div>
                </div>
              </div>
             
            </div>

          </div>
        </section>
      </div>
    <div class="section-jk">
      <section id="team" class="team section-bg">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2>Events</h2>
            <p>Stay informed and improve your overall well-being</p>
          </div>

          <div class="column">

            <div class=" align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src=" https://svyasa.edu.in/img/shortcode/pro1.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=" "><i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Webinar through hybrid mode</h4>
                  <span>Swami Vivekananda Yoga Anusandhana Samsthana, Eknath Bhavan - 19, Gavi puram Circle, Kempe Gowda Nagar, Bangalore -560019, Kernataka, (India) Email: registrar{at]svyasa[dot]edu[dot]in, www[at]svyasa[dot]edu[dot]in Website: www.svyasa.edu.in Phone: 080-22639998/ 09480467836 (Enquiries & Non-residential Courses Registration) Phone: 080-26612669 / 26608645 / 28916384</span>
                </div>
              </div>
            </div>

            <div class=" align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="https://arunachalobserver.org/wp-content/uploads/2023/05/Lead-6-2.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=" "><i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>A blood donation camp was organized by Marwari Yuva Manch</h4>
                  <span>Assam’s Tinsulia district, in association with Arunachal University of Studies (AUS), on Friday, with the WHO theme of ‘Give blood, give plasma, share life, share often’.</span>
                </div>
              </div>
            </div>

            <div class=" align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="member-img">
                  <img src="https://www.ananyahospitals.com/wp-content/uploads/2021/02/processed-4.jpeg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=" "><i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Free Maternity Camp</h4>
                  <span>Ananya Hospitals, Hyderabad
                    H.No:5-1-97/B NR, Near Old Shivalayam,
                    Ramalayam Road, Kukatpally,
                    Telangana-500072
                    info@ananyahosopitals.com
                    +91 9985003998</span>
                </div>
              </div>
            </div>

           
          </div>

        </div>
      </section>
    </div>
    </div>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Vesperr</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            Designed by <a href=" {% static  'https://bootstrapmade.com/' %}">BootstrapMade</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href=" {% static  '#intro' %}" class="scrollto">Home</a>
            <a href=" {% static  '#about' %}"class="scrollto">About</a>
            <a href=" {% static  '#' %}">Privacy Policy</a>
            <a href=" {% static  '#' %}">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href=" {% static  '#' %}" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>