<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inner Page - Vesperr Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static  'assets/img/lg.png' %}" rel="icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <p><center><br>

    <b>Welcome to our MedSync app.</b><br> By accessing and using our app, you agree to be bound by the following terms of use:<br>
    
    1. Content: Our app provides general information related to healthcare and does not provide medical advice. The information<br> provided in our app is for informational purposes only and should not be used as a substitute for professional medical advice, diagnosis, or treatment.<br>
    
    2. User Conduct: You agree to use our app for lawful purposes only and to not engage in any conduct that may be considered<br> offensive, harmful, or disruptive to other users.<br>
    
    3. Intellectual Property: All content and materials provided in our app, including but not limited to text, graphics, logos,<br> images, and software, are the property of our app and protected by applicable copyright, trademark, and other intellectual property laws.<br>
    
    4. Privacy: We are committed to protecting your privacy and personal information in accordance with applicable privacy laws.<br> Please review our Privacy Policy for more information on how we collect, use, and disclose your personal information.<br>
    
    5. Limitation of Liability: Our app is provided on an "as is" basis and we do not make any warranties or representations<br> regarding its accuracy, completeness, or suitability for any particular purpose. We are not liable for any damages or losses arising out of your use of our app.<br>
    
    6. Indemnification: You agree to indemnify and hold us harmless from any claims, damages, or losses arising out of your use<br> of our app or your violation of these terms of use.<br>
    
    7. Governing Law: These terms of use shall be governed by and construed in accordance with the laws of the jurisdiction in <br>which our app is operated.<br>
    
    8. Modifications: We reserve the right to modify these terms of use at any time, without prior notice. Your continued use of <br>our app after any such modifications indicates your acceptance of the modified terms of use.<br>
    
    By using our healthcare app, you acknowledge that you have read, understood, and agreed to these terms of use. If you do not<br> agree to these terms, please do not use our app.</center></p>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>